* {
  background-color: #d4e6f7;
}
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.btn-primary {
  color: black;
  border-color: rgb(88, 88, 88);
}
.btn-primary:hover {
  color: white;
}

.btn-primary :hover {
  color: white;
  background-color: rgb(0, 148, 49);
  border: rgb(236, 255, 244);
}

.btn-secondary {
  color: black;
  background-color: #e9ecef;
  border-color: rgb(88, 88, 88);
}
.btn-secondary:hover {
  color: white;
  background-color: gray;
  border: black;
}
.is-invalid {
  border-color: var(--danger);
}
input {
  background-color: rgb(255, 255, 255);
}
input:hover {
  border: black;
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
